:root {
    --text-color: #404040;
    --white: #FFFEF2;
    --light-green: #D0DBC2;
    --green: #7A9352;
    --dark-green: #3A5A40;
}

.landing-page-con {
    width: 100dvw;
    height: fit-content;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto;
    padding: 24px;
}

@media screen and (max-width: 425px) {
    .landing-page-con {
        padding: 4px;
    }
}