:root {
    --text-color: #404040;
    --white: #FFFEF2;
    --light-green: #D0DBC2;
    --green: #7A9352;
    --dark-green: #3A5A40;
}

.product-page-con {
    width: 100dvw;
    height: fit-content;
    max-width: 1440px;
    margin: 0 auto;

    /* May change */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10dvh 90dvh ;
}
