:root {
    --text-color: #404040;
    --white: #FFFEF2;
    --light-green: #D0DBC2;
    --green: #7A9352;
    --dark-green: #3A5A40;
}


body {
    background-color: #f2f2f2;
}

.product-page-con {
    background-color: #f2f2f2;
    width: 100dvw;
    height: 100dvh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 12px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 10% repeat(2,1fr);
    grid-template-areas:
        "header header"
        "filter appliedFilter"
        "filter productList"
        "filter productList"
    ;
    gap: 8px;
}