:root {
    --text-color: #404040;
    --white: #FFFEF2;
    --light-green: #D0DBC2;
    --green: #7A9352;
    --dark-green: #3A5A40;
}

/* Blog Section */
.product-section-con {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 12px;
    padding: 12px;
}

/* Header */
.product-header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.product-header .product-text {
    font-size: 40px;
    font-weight: 500;
    flex-grow: 1;
}
.product-header .view-all-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
    text-decoration: none;
}
.product-header .view-all-btn:hover .fa-arrow-right {
    transform: translateX(4px);
    transition-duration: 0.2s;
}
.product-header .view-all-btn:active,
.product-header .view-all-btn:active .fa-arrow-right {
    transform: scale(0.95) translateX(0);
    transition-duration: 0.2s;
}

/* Category List */
.category-list {
    display: flex;
    width: 100%;
    height: 50px;
    gap: 12px;
    justify-content: space-between;
}
.category-list button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(167, 167, 167);
    transition-duration: 0.2s;
}
.category-list button:active {
    transform: scale(0.95);
    transition-duration: 0.2s;
}
.category-list .active-category {
    color: var(--text-color);
    font-weight: 700;
}

/* Plant Card List */
.plant-card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: fit-content;
    gap: 12px;
}

/* Plant Card */
.plant-card {
    aspect-ratio: 6/6;
    width: 100%;
}
.plant-card .plant-box {
    position: relative;
    height: 100%;
    background-size: cover;
    display: flex;
    align-items: end;
    border-radius: 20px;
    overflow: hidden;
}
.plant-card .plant-box::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(58, 90, 64, 1) 0%,
        rgba(58, 90, 64, 0) 100%
    );
    bottom: 0;
    left: 0;
    z-index: 0;
}
.plant-card .plant-box .plant-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    width: 100%;
    gap: 12px;
    z-index: 10;
    color: var(--white);
    padding: 20px;
    font-size: large;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
.plant-card .plant-box .plant-btn::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.plant-card .plant-box .plant-btn:hover::before {
    width: 100%;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
.plant-card .plant-box .plant-btn:hover .plant-name {
    color: var(--text-color);
}
.plant-card .plant-box .plant-btn:hover .fa-arrow-right {
    color: var(--text-color);
    transition-delay: 0.2s;
}
.plant-card .plant-box .plant-btn i,
.plant-card .plant-box .plant-btn p {
    color: var(--white);
    z-index: 9;
}

@media screen and (max-width: 834px) {
    .product-header .product-text {
        font-size: 32px;
    }
    .product-header .view-all-btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {
    .product-header .product-text {
        font-size: 20px;
    }
    .product-header {
        justify-content: space-between;
    }
    .category-list button {
        font-size: 16px;
    }

    .plant-card-list {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 375px) {
    .product-header .product-text {
        font-size: 20px;
        flex-grow: 0;
        width: fit-content;
    }
    .product-header {
        align-items: center;
    }
    .product-header .view-all-btn {
        font-size: 10px;
        flex-grow: 1;
    }
}