:root {
    --text-color: #404040;
    --white: #FFFEF2;
    --light-green: #D0DBC2;
    --green: #7A9352;
    --dark-green: #3A5A40;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: var(--text-color);
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;    
    padding-inline: 12px;
}

/* Logo Container */
header .logo-con {
    display: flex;
    align-items: center;
}
header .logo-con img {
    aspect-ratio: 1;
    height: 80px;
}
header .logo-con h1 {
    color: var(--dark-green);
}

/* Navigation Links */
header .nav-con {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
header .nav-con a {
    text-decoration: none;
    padding: 4px 8px;
    color: var(--green);
    border-bottom: 2px solid rgba(0, 128, 0, 0);
    font-weight: 500;
    font-size: 16px;
    transition-duration: 0.2s;
}
header .nav-con .active-link {
    font-weight: 700;
    color: var(--dark-green);
}
header .nav-con a:hover {
    color: var(--dark-green);
    font-weight: 600;
    transition-duration: 0.2s;
}

/* Shopping cart button */
header .cart-btn {
    display: flex;
    position: relative;
    aspect-ratio: 1;
    width: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(--dark-green);
    justify-self: end;
}
header .cart-btn .fa-cart-shopping {
    font-size: 16px;
    color: var(--white);
}
header .cart-btn .cart-item-count {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: var(--dark-green);
    width: 20px;
    aspect-ratio: 1;
    color: var(--white);
    border-radius: 50%;
    border: 2px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    transition-duration: 0.2s;
}
header .cart-btn:active,
header .hamburger-icon:active,
#side-nav .nav-link-con .close-btn:active {
    transform: scale(0.90);
    transition-duration: 0.2s;
}

/* Hamburger Button */
header .hamburger-icon {
    display: none;
}

/* Side Navigation Bar */
.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100dvw;
    display: flex;
    z-index: 100;
    backdrop-filter: blur(3px);
    justify-content: end;
}
.side-nav .nav-link-con {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: var(--dark-green);
    padding: 24px;
    gap: 24px;
}
.side-nav .nav-link-con a {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
}

.visible {
    display: flex;
}

.hidden {
    display: none;
}

.side-nav .nav-link-con .close-btn {
    width: fit-content;
    aspect-ratio: 1;
    width: 40px;
    border-radius: 50%;
    background-color: var(--white);
    border: none;
    font-size: 16px;
    align-self: end;
}

/* 834px (Tablet View) */
@media screen and (max-width: 834px) {
    header {
        width: 100dvw;
        display: flex;
        gap: 24px;
    }
    header .logo-con {
        flex-grow: 1;
    }
    header .hamburger-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--dark-green);
        width: fit-content;
        aspect-ratio: 1;
        width: 40px;
        border-radius: 50%;
        border: none;
        font-size: 16px;
        transition-duration: 0.2s;
    }
    header .hamburger-icon i {
        color: var(--white);
    }
    
    header .nav-con {
        display: none;
    }
}

/* 425px (Phone View) */
@media screen and (max-width: 450px) {
    header {
        gap: 8px;
    }
    header .logo-con img {
        height: 50px;
    }
    header .logo-con h1 {
        font-size: 20px;
        color: var(--dark-green);
    }
    header .cart-btn,
    header .hamburger-icon {
        width: 35px;
    }
    header .cart-btn .fa-cart-shopping,
    header .hamburger-icon {
        font-size: 13px;
    }

    .side-nav .nav-link-con {
        width: 60%;
    }
}
