:root {
    --text-color: #404040;
    --white: #FFFEF2;
    --light-green: #D0DBC2;
    --green: #7A9352;
    --dark-green: #3A5A40;
}

.applied-filter-con {
    grid-area: appliedFilter;
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
}
.applied-filter-con h3 {
    flex-grow: 1;
}
.applied-filter-con .sort-button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--dark-green);
    cursor: pointer;
    transition-duration: 0.2s;
}
.applied-filter-con .sort-button span,
.applied-filter-con .sort-button i,
.applied-filter-con .sort-button p {
    color: var(--white);
}
.applied-filter-con .sort-button:active {
    transform: scale(0.95);
    transition-duration: 0.2s;
}