:root {
    --text-color: #404040;
    --white: #FFFEF2;
    --light-green: #D0DBC2;
    --green: #7A9352;
    --dark-green: #3A5A40;
}

.product-list-con {
    grid-area: productList;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 12px;
    overflow-y: scroll;
    padding: 12px;
}

.message-con {
    grid-area: productList;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.message-con img {
    height: 70%;
}
.message-con p {
    width: 70%;
    font-weight: 600;
}

/* Phone View */
@media screen and (max-width: 450px) {
    .product-list-con {
        grid-template-columns: repeat(1, 1fr);
    }

    .message-con img {
        height: 40%;
    }
    .message-con p {
        width: 100%;
        font-size: 14px;
    }
}
