* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #404040;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 12px;
}

.container {
    width: 100dvw;
    height: fit-content;
    max-width: 1440px;
    margin: 0 auto;
}