@import "tailwindcss";

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@theme {
  --breakpont-xs: 480px;
  --color-white: #f2f2f2;
  --color-lightGreen: #d0dbc2;
  --color-green: #7a9352;
  --color-darkGreen: #3a5a40;
  --color-text-color: #404040;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  scroll-behavior: smooth;
}

.active {
  font-weight: bold;
  color: #404040;
}

/* .clip-path1 {
  clip-path: polygon(
    0 40px,
    100px 40px,
    100px 0,
    100% 0px,
    100% 80%,
    60% 80%,
    60% 100%,
    0 100%
  );
  border-radius: 24px;
  background-color: #404040;
} */

/* In your global CSS */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
