@import "tailwindcss";

@theme {
  --color-white: #f2f2f2;
  --color-lightGreen: #d0dbc2;
  --color-green: #7a9352;
  --color-darkGreen: #3a5a40;
  --color-text-color: #404040;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  scroll-behavior: smooth;
}

.active {
  font-weight: bold;
  color: #404040;
}
